# PostgreSQL / Neon / Supabase connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require"
GROQ_API_KEY=""
GEMINI_API_KEY=""
TAVILY_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
